{% extends "courseapp/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    
    <div class="row" >
        <div class="col-md-12">
            <div class="content-section" data-aos="fade-up"
            data-aos-duration="3000">

                <h3>Registration page</h3>

                <form method="post">
                    {% csrf_token %}

                    {{ form|crispy }}


                    <div style="padding-bottom: 10px;">
                        <button class="btn btn-outline-info" type="submit">Register</button>
                    </div>

                </form>

            </div>
        </div>
    </div>

</div>


{% endblock content %}