{% extends "courseapp/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <br>
    <div class="card mx-auto" style="width: 700px;">
        <div class="row" >
        <div class="col-md-12">
            <div class="card-body" data-aos="fade-up"
            data-aos-duration="3000">
                <br>
                <h3 class="text-info text-center font-weight-bold">REGISTER</h3>
                <br>

                <form method="post">
                    {% csrf_token %}

                    {{ form|crispy }}


                    <div style="padding-bottom: 10px;">
                        <button class="btn btn-outline-info" type="submit">Register</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
    </div>
    <br>

</div>


{% endblock content %}