{% extends "courseapp/base.html" %} {% load static %} {% block content %}

<div class="container">
  <br>
  <div class="card mx-auto" style="max-width: 700px;">
    <div class="card-body">
      <form class="pad" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="new_password1"><strong>New Password:</strong></label>
          <input
            type="password"
            class="form-control newP"
            name="new_password1"
            id="new_password1"
          />
        </div>
        <div class="form-group">
          <label for="new_password2"><strong>Confirm New Password:</strong></label>
          <input
            type="password"
            class="form-control mb-2"
            name="new_password2"
            id="new_password2"
          />
        </div>
        <button type="submit" class="btn btn-outline-success  marg">Reset my password</button>
      </form>
    </div>
  </div>
</div>



{% endblock %}