{% extends "courseapp/base.html" %} {% load static %} {% block content %}

<form class="pad" method="post">
  {% csrf_token %}
  <label for="new_password1"><strong>New Password:</strong></label>
  <input
    type="password"
    class="mail newP"
    name="new_password1"
    id="new_password1"
  /><br />
  <label for="new_password2"><strong>Confirm New Password:</strong></label>
  <input
    type="password"
    class="mail mb-2"
    name="new_password2"
    id="new_password2"
  /><br />
  <input type="submit" class="get-started-btn marg" value="Reset my password" />
</form>
{% endblock %}