{% extends "courseapp/base.html" %} 
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
  <br>
  <div class="card mx-auto" style="max-width: 700px;">
    <div class="card-body">
      <h2 class="text-center font-weight-bold">Reset your password</h2>
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="email"><strong>Email:</strong></label>
          <input type="email" class="form-control" name="email" id="email" />
        </div>
        <button type="submit" class="btn btn-danger">Reset my password</button>
      </form>
    </div>
  </div>
</div>



{% endblock %}