{% extends "courseapp/base.html" %}

{% block content %}

<div class="container">
  <div class="card">
  <div class="card-body">
    <h3 class="card-header text-success">{{ module.name }} Details</h3>
    <ul class="list-group">
      <li class="list-group-item">Course Code: {{ module.code }}</li>
      <li class="list-group-item">Course Credit: {{ module.credit }}</li>
    </ul> <br>
    {% if user.is_authenticated %}
      {% if registered %}
        <form method="post" action="{% url 'courseapp:unregister' module.code %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-outline-danger">Unregister</button>
        </form>
      {% else %}
        <form method="post" action="{% url 'courseapp:register' module.code %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-outline-success">Register</button>
        </form>
      {% endif %}
    {% endif %}
  </div>
  
  <div class="content-section">
    <h5 class="text-info">Registered Students</h5>
     {% if module.registered_students.exists %}
      {% for registration in module.registered_students %}
          <ul class="list-group">
              <li class="list-group-item list-group-item-light" data-aos="fade-in">
                  <img class="rounded-circle article-img" src="{{ registration.student.photo.url }}" >
                  <span class="article-content text-muted">{{ registration.student.user.first_name }} {{ registration.student.user.last_name }}</span>
              </li>
          </ul>
     
      {% endfor %}
  {% else %}
      <p>No student registered.</p>
  {% endif %}
  </div>
  
 
      </div>
      
</div>
  
 
   
    
    
    
   


{% endblock %}
